<header>
  <nav class="navbar navbar-light">
    <a href="/admin" class="navbar-brand">study-meter</a>
    <button class="navbar-toggler" type="button"
        data-toggle="collapse"
        data-target="#navmenu1"
        aria-controls="navmenu1"
        aria-expanded="false"
        aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navmenu1">
      <div class="navbar-nav">
        <a class="nav-item nav-link">
          <%=
            if current_administrator
              link_to "ログアウト", :admin_session, method: :delete
            else
              link_to "ログイン", :admin_login
            end
          %>
        </a>
        <a class="nav-item nav-link"><li><%= link_to "利用者様一覧", :admin_app_users %></a>
      </div>
    </div>
  </nav>
</header>
