@import "colors";
@import "dimensions";
@import "bootstrap";

div.table-wrapper {
  width: 90%;
  margin: 0 auto;

  div.links {
    text-align: right;
    padding: $moderate;
  }

  th { text-align: center; }
  td.boolean { text-align: center; }
  td.actions {
    text-align: center;
    color: $dark_gray;
  }
}
