@import "colors";
@import "dimensions";
@import "bootstrap";

div.table-wrapper#account {
  width: 50%;
  margin: 0 auto;

  div.links {
    text-align: right;
    padding: $moderate;
  }

  table {
    margin: $moderate auto 0;
    border-top: solid 2px $dark_blue;
    tr {
      th {
        background-color: white;
      }
      th, td {
        padding: $narrow;
        text-align: left;
       }
      td.email, td.date {
        font-family: monospace;
        text-align: left;
      }
    }
  }
  table.attributes {
    width: 100%;
    th { padding-right: $moderate; width: 200px; }
    td {
      background-color: white;
      text-align: left;
    }
  }
}
