@import "colors";
@import "dimensions";
@import "bootstrap";

div#wrapper {
  div#container {
    div#recors_board {
  width: 75%;
  margin: $very_wide * 2 auto;
  padding: $wide * 2;
  background-color: white;
  border-top: solid 2px $dark_blue;
    }
  }
}
