@import "colors";
@import "dimensions";
@import "bootstrap";

div.table-wrapper {
  width: 80%;
  margin: $very_wide * 2 auto;
  padding: $wide * 2;

  th { text-align: center; }
  td.boolean { text-align: center; }
  td.actions {
    text-align: center;
    color: $dark_gray;
  }
}
