<header>
  <span class="logo-mark">study-meter</span>
  <%=
    if current_administrator
      link_to "ログアウト", :admin_session, method: :delete
    else
      link_to "ログイン", :admin_login
    end
  %>
</header>
